

<footer>
    <div class="container-fluid d-flex justify-content-evenly">


        
        <section  class="text-center"  >

            <h3 class="text-main" >Where to find us</h3>
           
    
            <ul  >
                <li role="button" >
                    <a> <i class="fab fa-instagram fa-2x"></i></a>
                </li>
                <li role="button"> 
                    <a> <i class="fab fa-facebook fa-2x"></i></a>
                </li>
                <li role="button"> 
                    <a> <i class="fab fa-tiktok fa-2x"></i></a>
                </li>
                <li role="button"> 
                    <a> <i class="fab fa-twitter fa-2x"></i></a>
                </li>
                <li role="button"> 
                    <a> <i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li role="button"> 
                    <a> <i class="fab fa-youtube fa-2x"></i></a>
                </li>   
              </ul>
           
            </section>
    
       <section  class="text-center" >
    
        <h3 class="text-main" >About us</h3>
        <p>A crowded source for all kind of meals<br>
             you can also search for any meal</p>
       </section>


       <section class="text-center" >
    
        <h3 class="text-main"> Address</h3>
        <p> 239 Greene St, New York, <br>
             NY 10003, USA</p>
       </section>
    </div>
    

</footer>
   