


<section class="  m-4 ">
    <div class="row  " *ngFor="let meal of data">
        <div class="col-md-4 " >

            <img [src]="meal.strMealThumb" class="w-100 card" alt="">
        </div>
        <div class="col-md-8" >
            <div>
                <h1>{{meal.strMeal}}</h1>
                <h2>Instructions:</h2>
                <p>{{meal.strInstructions}}</p>

                <div class="d-flex my-4">
                   <h5><span class="span-main">Area: {{meal.strArea}}</span> </h5>
                   <h5><span class="span-main m-2">Category: {{meal.strCategory}}</span> </h5>
                </div>

                <h5 ><span class="span-main my-4">Recipes:</span> </h5>
               
                    <ul class="list-unstyled d-flex g-3 flex-wrap">
                    <li class="alert alert-info p-1">{{meal.strMeasure1}}{{meal.strIngredient1}}</li>
                    <li class="alert alert-info p-1">{{meal.strMeasure2}}{{meal.strIngredient2}}</li>
                    <li class="alert alert-info p-1">{{meal.strMeasure3}}{{meal.strIngredient3}}</li>
                    <li class="alert alert-info p-1">{{meal.strMeasure4}}{{meal.strIngredient4}}</li>
                    <li class="alert alert-info p-1">{{meal.strMeasure5}}{{meal.strIngredient5}}</li>

                   </ul>

                   <a target="_blank" [href]="meal.strSource" class="btn btn-success">Source</a>
                   <a target="_blank" [href]="meal.strYoutube" class="btn btn-danger m-2">Youtube</a>
        


           
            </div>
        </div>

    </div>
</section>