
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="home"><img src="./assets/images/logo.png" class="w-50" height="50" alt="">
       <b class="text-main" >Yummy.</b>  
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="area" routerLinkActive="active-link">Area</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ingredients" routerLinkActive="active-link">Ingredients</a>
          </li>   

          <li class="nav-item">
            <a class="nav-link" routerLink="search" routerLinkActive="active-link">Search</a>
          </li>   
        </ul>
        
      </div>
    </div>
  </nav>